.post{
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
}

/* Estiliza um espaco em cima de um post, caso exista um post acima */
.post + .post{
    margin-top: 2rem;
}

/* Conteudo o post */
.content{
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
}

/* Paragrafo */
.content p {
    margin-top: 1rem;
}

/* Links do conteudo */
.content a {
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

/* Cor ao passar o mouse por cima do Link */
.content a:hover {
    color: var(--green-300);
}

/* Estiliza o Header que esta apenas na camada mais acima de Post, nao o que esta dentro de outras tags */
.post > header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo do tempo de publicacao */
.post > header time {
    font-size: 0.875rem;
    color: var(--gray-400);
}

/* Dados do usuario */
.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Nome */
.authorInfo strong{
    display: block;
    color: var(--gray-100);
    line-height: 1.6;
}

/* Cargo */
.authorInfo span{
    display: block;
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

/* Form de comentario */
.commentForm{
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);
}

/* Deixe seu feedback */
.commentForm > strong {
    line-height: 1.6;
    color: var(--gray-100);
}

/* Area que vai escrever */
.commentForm textarea {
    width: 100%;
    background: var(--gray-900);
    border: 0;
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.4;
    margin-top: 1rem;
}

/* Esconde o botao quando nao estiver escrevendo */
.commentForm footer{
    visibility: hidden;
    max-height: 0;
}

/* Ativa o botao quando estiver escrevendo */
.commentForm:focus-within footer{
    visibility: visible;
    max-height: none;
}

/* botao */
.commentForm button[type='submit']{
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.1s;
}

/* transicao de cor do botao */
.commentForm button[type='submit']:hover{
    background: var(--green-300);
}


.commentList {
    margin-top: 2rem;
}